<!-- NAV BAR -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav" id="navBar">
        <li class="nav-item active">
            <a class="nav-link" href="/"> Mongo Scraper </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/saved"> Saved Articles </a>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-primary scrape"> Scrape Articles </button>
        </li>
    </ul>
</nav>
<!-- END NAV BAR -->

<!-- START OF JUMBOTRON -->
<div class="col-md-12 jumbotron">
    <div class="text-center">
        <h1> Mongo Scraper </h1>
        <h3> New York Times: Business Edition </h3>
    </div>
</div>
<!-- END OF JUMBOTRON -->

<div class="container">

    <!-- START OF ARTICLE SECTION -->
    <div class="col-md-12">
        {{#if article}} {{#each article}}

        <div class="card">
            <div class="card-header">
                <h5> {{this.title}}</h5>
            </div>
            <div class="card-body">
                <p class="card-summary"> {{this.summary}} </p>
                <a href={{this.link}}> {{this.link}} </a>
                <br>
                <button type="button" class="btn btn-primary saveArticle" data-id={{this._id}}> Save Article </button>
            </div>
        </div>

        {{/each}} {{else}}
        <div class="card">
            <div class="card-body">
                <h5> You Don't Have Any Articles </h5>
            </div>
        </div>

        {{/if}}
    </div>
    <!-- END OF ARTICLE SECTION -->

</div>